grant codeBase "file:/Users/matiasdim/Documents/Maestria/Fall-2017/656-Distributed\ Systems/Labs/Lab2/JavaRMI/src/" {
    permission java.security.AllPermission;
};
